  
<!-- Service Template -->
<article class="service fade-in">
  <h1 class="service-title">
    <%= data.title %> - <%= data.id %>
  </h1>
  <% if(data.endpoints) { %>
  <% data.endpoints.forEach(function(api) { %>
        <% if(api) { %>
            <% if(api.title) { %>
              <legend> <%= api.title %> </legend>
                 <a href="#/<%= api.type %>?tag=<%= api.type %>" class="service-type"><%= api.type %></a>
           <% } %>  
           <% if(api.info) { %>
              <%= api.info %>
           <% } %>  
                    
     <% if(api.links) { %>
       <u>
      <% api.links.forEach(function(link) { %>
        <% if(link) { %>
          <li><a href="<%= link.href %>" class="api-link"><%= link.text %></a></li>
        <% } %>
      <% }) %>
       </u>
    <% } %>
      
      
        <% } %>
      <% }) %>
  <% } %>
  <div class="service-tags">
    <% if(data.tags) { %>
      <% data.tags.forEach(function(tag) { %>
        <% if(tag) { %>
          <a href="#/?tag=<%= tag %>" class="item-tag"><%= tag %></a>
        <% } %>
      <% }) %>
    <% } %>
  </div>
  <div class="service-content">
    <%= data.body %>
  </div>
</article>
