<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" href="https://frdl.ws/cloudsharing/apps/cms_pico/appdata_public/themes/2ugfBnBHs2/webfantized-friendly/css/style.css" type="text/css" />
    <link rel="stylesheet" href="https://frdl.ws/cloudsharing/apps/cms_pico/appdata_public/themes/2ugfBnBHs2/webfantized-friendly/css/droidsans.css" type="text/css" />
    <link rel="stylesheet" href="https://frdl.ws/cloudsharing/apps/cms_pico/appdata_public/themes/2ugfBnBHs2/webfantized-friendly/css/fontello.css" type="text/css" />
    
    {% seo %}
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about/">About Frdlweb</a>
      <a href="/cdn/">CDN</a>
    </nav>
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
    <footer>
      &copy; to me
    </footer>
  </body>
</html>
