<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% seo %}
	  <link rel="icon" href="/favicon.ico">   
	  <link rel="stylesheet" href="https://frdl.ws/cloudsharing/apps/cms_pico/appdata_public/themes/2ugfBnBHs2/webfantized-friendly/css/style.css" type="text/css" />	  
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about/">About Frdlweb</a>
      <a href="/cdn/">CDN</a>
    </nav>

    <section>
      {{ content }}
    </section>
	  
    <footer>
	    <a href="https://frdlweb.de">&copy; Frdlweb</a> 
	    <a href="https://registry.frdl.de/?goto=oidplus%3Aresources%24About%2FDatenschutzerklaerung.html">Privacy Policy | Datenschutzerkl&auml;rung</a>
	    <a href="/imprint.html">Imprint</a> 
    </footer>
  </body>
</html>
