<!DOCTYPE html>
<html>
<head>
<base href="/">
<meta charset="utf-8">	   
{% seo %}
<link rel="icon" href="/favicon.ico"> 
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	  <link rel="stylesheet" href="https://software-download.frdlweb.de/content/themes/basic-with-responsive-menu/style.css" type="text/css" media="all" />
</head>
<body>
<div id="header" role="nav">
	<a href="/">
  <img style="float:left;margin-right:8px;" src="https://cdn.frdl.de/@webfan3/website/logos/webfan-blue-medium.jpg">
</a>
	
  <div id="menu">
  <div id="menu_btn">
    <label for="drop">
      <svg width="48" height="48" viewBox="0 0 13 10">
        <path d="M0,1 13,1" stroke="#fff" stroke-width="2"></path>
        <path d="M0,5 13,5" stroke="#fff" stroke-width="2"></path>
        <path d="M0,9 13,9" stroke="#fff" stroke-width="2"></path>
      </svg>
    </label>
  </div>
  <input id="drop" type="checkbox">
  <nav id="mainnav"><ul>
<li>
<a href="/">Home</a>
</li>
<li>
<a href="/about/index">About</a>
</li>
	  
<li>
<a href="javascript:;">Domain</a>
 <ul>
  <li>
   <a href="/dns/domain-check">Domain-Check</a>
  </li>
  <li>
   <a href="/api/rdap/whois">Whois</a>
  </li>	
 </ul>
</li>	  
	
<li>
<a href="/cdn/index">CDN</a>
</li>	  
</ul>
</nav>
</div>	

</div>	

<div class="container" style="margin-top:64px;margin-bottom:64px;">	
<div id="main" role="main">
  <section  id="cms" class="container">
      {{ content }}
  </section>
	<br />
	<br />
	<br />
	<br />
	<br />
</div>
</div>

<div class="footer" style="margin-top:120px;">	
<webfan-footer-links></webfan-footer-links>		
<footer class="container-fluid fusio-footer" frdl-if-js-remove="2">
	<div style="margin:5px;display:inline-block;">
		             
			 <a class="btn-sm btn-primary" href="https://webfan.de">Home</a>
			  <a class="btn-sm btn-info" href="https://status.frdl.de">System Status</a>
			</div>
			<div style="margin:5px;display:inline-block;">
			<a class="btn-sm btn-info" href="https://registry.frdl.de/?goto=oidplus%3Aresources%24About%2FDatenschutzerklaerung.html">Datenschutzerkl&auml;rung Privacy Policy</a>
			 <a class="btn-sm btn-info" href="https://registry.frdl.de/?goto=oidplus%3Aresources%24About%2FImpressum.html">Impressum Imprint</a>
			 </div>
			
	<div style="margin:5px;">
			 &copy; <a href="https://webfan.de/contact/">Webfan Homepagesystem</a>
			 - Your friendly web provider!
	</div>
</footer>
</div>
	
<script type="text/javascript">(async(v,w,d,h,wcsb)=>{var s=d.createElement('script');s.setAttribute('src', 'https://cdn.frdl.de/!bundle/run/' +h+'-'+v+'/@webfan3/frdlweb/webfan-website.js');
s.setAttribute('data-frdl-website-origin', w.origin);s.setAttribute('data-webfan-config-query', 'angularjs.html5mode.rewriteLinks=false&angularjs.html5mode.enabled=false');s.async=true;s.onload=()=>{wcsb();};d.head.append(s);	 
})('abcdef1234567890',window, document,  (new Date()).getYear() + '-' +  (new Date()).getMonth()+ '-' +  (new Date()).getDay(),async()=>{
 console.log(window.webfan);
		//await webfan._.docReady;
		// document.getElementById('theheadline').innerHTML=document.querySelector('title').innerHTML.split(/\|/)[0].trim(); 
});</script> 
</body>
</html>
